#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 30px;
    justify-content: center;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    background-color: bisque;
    padding: 2rem;
    border-radius: 10px;
    input {
      padding: 1rem;
      margin: 1rem ;
    }
    #btn {
      background-color: green;
      border-radius: 5px;
      
    }
  }
  .mensaje_bienvenida, .mensaje_bienvenida_joven, .mensaje_error{
    padding: 2rem 0;
  }
}
